body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:90px;
  width:170px;
  height:300px;
}
#u1093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:300px;
}
#u1093_ref {
  border-width:0px;
  position:absolute;
  left:282px;
  top:380px;
  width:1px;
  height:1px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:90px;
  width:170px;
  height:300px;
}
#u1094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:300px;
}
#u1094_ref {
  border-width:0px;
  position:absolute;
  left:760px;
  top:380px;
  width:1px;
  height:1px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:90px;
  width:170px;
  height:300px;
}
#u1095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:300px;
}
#u1095_ref {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:380px;
  width:1px;
  height:1px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:1553px;
  top:90px;
  width:170px;
  height:300px;
}
#u1096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:300px;
}
#u1096_ref {
  border-width:0px;
  position:absolute;
  left:1715px;
  top:380px;
  width:1px;
  height:1px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:2030px;
  top:90px;
  width:170px;
  height:300px;
}
#u1097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:300px;
}
#u1097_ref {
  border-width:0px;
  position:absolute;
  left:2192px;
  top:380px;
  width:1px;
  height:1px;
}
