body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2406_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:386px;
  height:77px;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:33px;
  width:376px;
  height:67px;
}
#u2406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:800px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:100px;
  width:376px;
  height:800px;
}
#u2407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:61px;
  width:70px;
  height:34px;
}
#u2408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:61px;
  width:70px;
  height:34px;
}
#u2409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:80px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:170px;
  width:376px;
  height:80px;
}
#u2410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:107px;
  width:53px;
  height:53px;
}
#u2411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:69px;
  width:20px;
  height:20px;
}
#u2412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:112px;
  width:57px;
  height:16px;
}
#u2413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:135px;
  width:11px;
  height:15px;
}
#u2415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:9px;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:141px;
  width:5px;
  height:9px;
}
#u2416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:115px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u2418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:135px;
  width:85px;
  height:16px;
  color:#999999;
}
#u2418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:108px;
  width:20px;
  height:20px;
}
#u2419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:71px;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:175px;
  width:75px;
  height:71px;
}
#u2420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:203px;
  width:271px;
  height:16px;
}
#u2421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u2422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:260px;
  width:376px;
  height:1px;
}
#u2422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:80px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:334px;
  width:376px;
  height:80px;
}
#u2423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:271px;
  width:53px;
  height:53px;
}
#u2424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:276px;
  width:29px;
  height:16px;
}
#u2425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:299px;
  width:11px;
  height:15px;
}
#u2427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:9px;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:305px;
  width:5px;
  height:9px;
}
#u2428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:279px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u2430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:299px;
  width:85px;
  height:16px;
  color:#999999;
}
#u2430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:71px;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:339px;
  width:75px;
  height:71px;
}
#u2431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:367px;
  width:271px;
  height:16px;
}
#u2432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u2433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:424px;
  width:376px;
  height:1px;
}
#u2433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:272px;
  width:20px;
  height:20px;
}
#u2434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:80px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:498px;
  width:376px;
  height:80px;
}
#u2435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:435px;
  width:53px;
  height:53px;
}
#u2436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:440px;
  width:71px;
  height:16px;
}
#u2437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:443px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u2439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:71px;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:503px;
  width:75px;
  height:71px;
}
#u2439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:531px;
  width:271px;
  height:16px;
}
#u2440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u2441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:588px;
  width:376px;
  height:1px;
}
#u2441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:433px;
  width:20px;
  height:20px;
}
#u2442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:466px;
  width:155px;
  height:16px;
  color:#999999;
}
#u2443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u2444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:80px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:662px;
  width:376px;
  height:80px;
}
#u2444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:599px;
  width:53px;
  height:53px;
}
#u2445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:604px;
  width:71px;
  height:16px;
}
#u2446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:607px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u2448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:71px;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:667px;
  width:75px;
  height:71px;
}
#u2448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:695px;
  width:271px;
  height:16px;
}
#u2449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u2450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:752px;
  width:376px;
  height:1px;
}
#u2450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:630px;
  width:167px;
  height:16px;
  color:#999999;
}
#u2451_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u2452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:600px;
  width:20px;
  height:20px;
}
#u2452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:171px;
  width:376px;
  height:79px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:335px;
  width:376px;
  height:79px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:498px;
  width:376px;
  height:79px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:662px;
  width:376px;
  height:79px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:107px;
  width:53px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:271px;
  width:53px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:435px;
  width:53px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:599px;
  width:53px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
